@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(3.9% 0 0);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(3.9% 0 0);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(3.9% 0 0);
  --color-primary: oklch(9% 0 0);
  --color-primary-foreground: oklch(98% 0 0);
  --color-secondary: oklch(96.1% 0 0);
  --color-secondary-foreground: oklch(9% 0 0);
  --color-muted: oklch(96.1% 0 0);
  --color-muted-foreground: oklch(45.1% 0 0);
  --color-accent: oklch(96.1% 0 0);
  --color-accent-foreground: oklch(9% 0 0);
  --color-destructive: oklch(60.2% 0.176 12);
  --color-destructive-foreground: oklch(98% 0 0);
  --color-border: oklch(89.8% 0 0);
  --color-input: oklch(89.8% 0 0);
  --color-ring: oklch(3.9% 0 0);
  --color-chart-1: oklch(61% 0.09 29);
  --color-chart-2: oklch(39% 0.06 192);
  --color-chart-3: oklch(24% 0.04 197);
  --color-chart-4: oklch(66% 0.09 86);
  --color-chart-5: oklch(67% 0.12 41);

  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@theme {
  .dark {
    --color-background: oklch(3.9% 0 0);
    --color-foreground: oklch(98% 0 0);
    --color-card: oklch(3.9% 0 0);
    --color-card-foreground: oklch(98% 0 0);
    --color-popover: oklch(3.9% 0 0);
    --color-popover-foreground: oklch(98% 0 0);
    --color-primary: oklch(98% 0 0);
    --color-primary-foreground: oklch(9% 0 0);
    --color-secondary: oklch(14.9% 0 0);
    --color-secondary-foreground: oklch(98% 0 0);
    --color-muted: oklch(14.9% 0 0);
    --color-muted-foreground: oklch(63.9% 0 0);
    --color-accent: oklch(14.9% 0 0);
    --color-accent-foreground: oklch(98% 0 0);
    --color-destructive: oklch(30.6% 0.13 12);
    --color-destructive-foreground: oklch(98% 0 0);
    --color-border: oklch(14.9% 0 0);
    --color-input: oklch(14.9% 0 0);
    --color-ring: oklch(83.1% 0 0);
    --color-chart-1: oklch(50% 0.12 250);
    --color-chart-2: oklch(45% 0.08 172);
    --color-chart-3: oklch(55% 0.10 50);
    --color-chart-4: oklch(60% 0.10 305);
    --color-chart-5: oklch(55% 0.12 10);
  }
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
